* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

/* Form Control */
form {
  width: 100%;
}

#add-todo {
  display: none;
}

.draggable {
  visibility: hidden;
  transition: all 100ms ease-in;
}

.hovered {
  border: 1px dashed blue !important;
}

/* [draggable="true"] {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
} */
